/* 
1. Position
2. Box Model
3. Tipography
4. Visuals
5. Others
*/

:root{
    /* Colors */
    --gradient: linear-gradient(180deg, rgba(255, 234, 197, 0.84) 0%, rgba(255, 255, 255, 0.84) 100%);
    --purple-strong: #6E4CD1;
    --purple-light: #C5B1FF;
    --yellow: #F7CB5D;
    --black: #282623;
    --grey: #BABABA;
    --offWhite: #FAF8F7;
    --white: #FFFFFF;
    --black-nav: #706757
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-title {
    position: absolute;
    width: 202px;
    height: 41px;
    left: 177px;
    top: 30px;
    font-family:'Sporting Grotesque';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 41px;
    letter-spacing: -0.055em;
    color: #333028;
}
 
.nav__Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    position: absolute;
    width: 70vw;
    height: 50px;
    right: 110px;
    top: 55px;
   
}
 
.nav__Container .nav__item-text{
    width: 67px;
    height: 21px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--black-nav);
    text-decoration: none;
 
 
}


.footer__Container > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__Item{
    width: 279px;
    height: 128px;

    margin: 20px 0;

    list-style-type: none;

    outline: 1px solid #C8BBA3;
    background: rgba(255, 255, 255, 0.47);
    backdrop-filter: blur(37px);
}