.header-title {
    width: 202px;
    height: 41px;
    left: 120px;
    top: 40px;

}
.nav__Container {
    width: 388px;
    height: 65px;
    right: 18px;
    top: 28px;
    
}

.footer__Container > ul{
    display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
width: 100vw;
max-width: 1200px;
margin: 0 auto;
}

.footer__Item{
    margin: 15px 15px;
}